@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.hero {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    color: #fff;
}


.hero h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 50%;
    margin: 0;
}

.hero p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.startbutton {
    padding: 20px 50px;
    background: #2D9B29;
    transition: 150ms ease;
    border-radius: 5px;
    box-shadow: 0 8px 8px -4px #111;
    margin: 20px;
}

.startbutton:hover {
    background: #288524;
}

.stocksection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    color: #fff;
}

.activestock {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    padding: 50px 0;
    align-self: flex-start;
    gap: 20px;
    height: 300px;
    margin: 50px 0;
    

}

.activetabs, .profiletabs {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.profiletabs li button {
    background-color: transparent;
    border: none;
    color: #111;
    border-bottom: 1px solid #111;
    cursor: pointer;
    transition: 200ms all;
}

.profiletabs li button:hover {
    color: #63261D;
}

.activetabs li button {
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: 200ms all;
}

.activetabs li button:hover {
    color: #ccc;

}

.activestock .ticker {
    display: block;
    padding: 0 20px;
}

.activestock .ticker .stockname {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 10px 0;
}

.activestock .ticker .stockprice {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 10px 0;
}

.change {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.details {
    display: block;
    width: 100%;
    padding: 20px 0;
}

.ticker {
    width: 300px;
    height: 200px;
    background: linear-gradient(244.66deg, rgba(217, 217, 217, 0.8) 21.08%, rgba(217, 217, 217, 0) 79.68%);
}

.searchbar {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.5);
    color: #fff;
    padding: 20px;
    border: 1px
    
}

.searchbar::placeholder {
    color: #fff;
}

.stockdetails {
    display: block;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.pricesection {
    display: flex;
    gap: 20px;
    /* grid-template-columns: repeat(10, 1fr); */
}

.pricesection h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1px;
    margin: 0;
}

span.symbol {
    font-size: 0.65em;
}

.pricesection p {
    text-align:center;
    align-self: center;
}

.headersummary {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.img {
    width: 80px;
    text-align: center;
}


.details {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding: 20px;

}

.content {
    display: grid;
    grid-template-columns: auto auto;
    color: #24343E;
}

.summary {
    margin-top: 0;
    color: #63261D;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.companydescription {
    padding: 20px 0;
    line-height: 30px;
    width: 80%;
}

@media screen and (max-width: 1440px) {
    .hero {
        padding: 0 50px;
    }
    .hero h2 {
        width: 80%;
        font-size: 45px;
    }

    .activestock {
        padding: 20px 0;
    }

    .activestock .ticker {
        width: 60%;
        height: 100%;
    }

    .activestock .ticker .stockname, .activestock .ticker .stockprice {
        margin: 0;
    }
    .activestock .ticker .stockname {
        font-size: 25px;
    }

    .activestock .ticker .stockprice {
        font-size: 35px;
    }

    .change {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
            padding: 0 20px;
    }

    .hero h2 {
        width: 80%;
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }


    .activestock .ticker {
        width: 80%;
        height: 100%;
    }

    .activestock .ticker .stockname, .activestock .ticker .stockprice {
        margin: 0;
    }
    .activestock .ticker .stockname {
        font-size: 25px;
    }

    .activestock .ticker .stockprice {
        font-size: 35px;
    }

    .change {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 0 20px;
    }

    .hero h2 {
        width: 100%;
        font-size: 30px;
        line-height: 48px;
    }

    .hero p {
        font-size: 15px;
    }

    .startbutton {
        padding: 15px 40px;
        margin: 15px;
    }

    .activestock .ticker {
        width: 80%;
        height: 100%;
    }

    .activestock .ticker .stockname, .activestock .ticker .stockprice {
        margin: 0;
    }
    .activestock .ticker .stockname {
        font-size: 15px;
    }

    .activestock .ticker .stockprice {
        font-size: 25px;
    }

    .change {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding: 0 20px;
    }

    .hero h2 {
        width: 100%;
        font-size: 22px;
        line-height: 40px;
    }

    .hero p {
        font-size: 15px;
    }

    .startbutton {
        padding: 10px 30px;
        margin: 12px;
    }


    .stocksection {
        padding: 0;
    }

    .activetabs {
        padding: 0;
    }

    .profiletabs {
        gap: 10px;
    }
    .activestock {
        gap: 2px;
        width: 100%;
    }

    .activestock .ticker {
        width: 100%;

    }

    .activestock .ticker .stockname, .activestock .ticker .stockprice {
        margin: 0;
    }
    .activestock .ticker .stockname {
        font-size: 14px;
    }

    .activestock .ticker .stockprice {
        font-size: 21px;
    }

    .change {
        font-size: 0.7em;
    }

    .pricesection h2 {
        font-size: 20px;
    }

    .img {
        display: none;
    }

    .content {
        grid-template-columns: auto;
    }
    .companydescription {
        width: 100%;
        line-height: 25px;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
    .activestock {
            gap: 2px;
            padding: 20px 0;
            width: 100%;
        }
    
        .activestock .ticker {
            width: 100%;
        }
    
        .activestock .ticker .stockname,
        .activestock .ticker .stockprice {
            margin: 0;
        }
    
        .activestock .ticker .stockname {
            font-size: 14px;
        }
    
        .activestock .ticker .stockprice {
            font-size: 21px;
        }
    
        .change {
            font-size: 0.7em;
        }
    }